<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="rootHostName" value="TheCodeAttic" />
    <settings>
      <setting name="Analytics.CookieDomain" value="$(rootHostName)" />
      <setting name="Login.BackgroundImageUrl" value="login/TheCodeAttic_Wallpaper.jpg" />
      <setting name="Login.DisableLicenseInfo" value="false" />
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="TheCodeAttic" />
      </setting>
    </settings>
  </sitecore>
</configuration>
